@font-face {
  font-family: "SpoqaHanSansNeo-Bold";
  src: url("./assets/fonts/SpoqaHanSansNeo-Bold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "SpoqaHanSansNeo-Medium";
  src: url("./assets/fonts/SpoqaHanSansNeo-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeo-Light";
  src: url("./assets/fonts/SpoqaHanSansNeo-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
#root {
  position: relative;

  max-width: 1080px;
  height: 100%;

  margin: 0 auto;

  text-align: center;
  color: #dfdfdf;
  font-family: "SpoqaHanSansNeo-Medium";
}
